<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリスト</title>
</head>
<body>
    <h1>Todoリスト</h1>

    <h2>カテゴリー作成</h2>
    <form action="/categories" method="post">
        <input type="text" name="categoryName">
        <input type="submit" value="作成">
    </form>
    <a href="/todos">Todo一覧に戻る</a>
    
    <h2>カテゴリー管理</h2>
    <ul>
        <% categories.map(function(category) { %>
            <li><%= category.name %></li>
            <a href="/categories/<%= category.id %>/edit">
                <button>編集</button>
            </a>
            <form action="/categories/<%= category.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="削除">
            </form>
        <% }) %>
    </ul>
</body>
</html>